
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.qrcode.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Pay! <%= productName %></p>
    <div id="qrcode"></div>
    <% if(isPayCode) { %>
        <script>
            $('#qrcode').qrcode({text: "<%= payCode %>"});
        </script>
    <% } else { %>
        <p>ERROR: don't get payCode</p>
        <p><%= payErr %></p>
    <% } %>
  </body>
</html>
